#container00 {
   /* border: solid 3px #474544; */
   max-width: 80%;
   padding: 5%;
   position: relative;
   background-color: #f5f5f5;
}
.Forma {
   background-color: #f5f5f5;
   width: 100%;
}
.button {
   position: relative;
   top: 0;
   left: 0;
}
.he {
   margin-bottom: 5%;
   text-align: left;
   margin-top: 5%;
}
.he h1 {
   font-size: 4rem;
   text-align: left;
}

.underline {
   border-bottom: solid 2px #474544;
   margin: -0.512em auto;
   width: 80px;
}
.email {
   float: right;
   width: 45%;
}

input[type="texta"],
[type="emaila"],
select,
textarea {
   background: none;
   border: none;
   border-bottom: solid 2px #474544;
   color: #474544;
   font-size: 1em;
   font-weight: 400;

   letter-spacing: 1px;
   margin: 0em 0 1.875em 0;
   padding: 0 0 0.875em 0;
   /* text-transform: uppercase; */
   font-family: "IBM Plex Sans", sans-serif;
   font-size: 1.5rem;
   width: 100%;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   -o-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   -ms-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
}

input[type="texta"]:focus,
[type="emaila"]:focus,
textarea:focus {
   outline: none;
   padding: 0 0 0.875em 0;
}

.message {
   float: none;
}

.name {
   float: left;
   width: 45%;
}

select {
   background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png")
      no-repeat right;
   outline: none;
   -moz-appearance: none;
   -webkit-appearance: none;
}

select::-ms-expand {
   display: none;
}

.subject {
   width: 100%;
}

.telephone {
   width: 100%;
}

textarea {
   line-height: 150%;
   height: 150px;
   resize: none;
   width: 100%;
}

::-webkit-input-placeholder {
   color: #474544;
}

:-moz-placeholder {
   color: #474544;
   opacity: 1;
}

::-moz-placeholder {
   color: #474544;
   opacity: 1;
}

:-ms-input-placeholder {
   color: #474544;
}

@media screen and (max-width: 768px) {
   #container {
      margin: 20px auto;
      width: 95%;
   }
   #container00 {
      padding-top: 20%;
   }
}

@media screen and (max-width: 480px) {
   h1 {
      font-size: 26px;
   }

   .underline {
      width: 68px;
   }

   #form_button {
      padding: 15px 25px;
   }
   #container00 {
      padding-top: 20%;
   }
}

@media screen and (max-width: 420px) {
   h1 {
      font-size: 18px;
   }

   .icon {
      height: 35px;
      width: 35px;
   }

   .underline {
      width: 53px;
   }

   input[type="text"],
   [type="email"],
   select,
   textarea {
      font-size: 0.875em;
   }
   .footerLogo {
      display: none;
   }
}
.submit {
   padding-top: 2%;
}
.contimg {
   position: absolute;
   top: 10%;
   right: 0;
}
@media only screen and (max-width: 600px) {
   .contimg {
      width: 80%;
   }
   textarea {
      font-size: 1.5rem;
      height: 100px;
   }
}
