@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
   box-sizing: border-box;
}
@media only screen and (max-width: 800px) {
   html,
   body {
      font-size: 12px;
      scroll-behavior: smooth;
   }
}
@media only screen and (max-width: 600px) {
   html,
   body {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 9px;
      overflow-x: hidden !important;
      overflow-y: scroll !important;
      scroll-behavior: smooth;
      cursor: pointer;
   }
   h1 {
      font-size: 2px;
   }
   .section-heading {
      font-size: 2.5rem !important;
   }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
   html,
   body {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 9px;
      overflow-x: hidden !important;
      overflow-y: scroll !important;
      scroll-behavior: smooth;
      cursor: pointer;
   }
   h1 {
      font-size: 2px;
   }
   .section-heading {
      font-size: 2.5rem !important;
   }
   .homw {
      display: none;
   }
   #abc {
      margin-top: 200px !important;
   }
   .header {
      height: 100% !important;
   }
   .tog {
      width: 60% !important;
      top: 2rem;
   }
   .slider {
      height: 55rem !important;
   }
   .tabs {
      height: 150vh !important;
   }
   .abv {
      padding-top: 8rem !important;
   }
   #about-3 .container-fluid {
      margin-top: 14rem !important;
   }
   .abouimg {
      top: 6rem !important;
      width: 12rem !important;
   }
   #open {
      transform: scale(0.7);
   }
   .container000 {
      top: 0 !important;
   }
}
body {
   padding: 0px;
   background-color: #f5f5f5;
   font-family: "Roboto", sans-serif;
   line-height: 1.5;
   scroll-behavior: smooth;
   color: #000;
   cursor: none;
   overflow-x: hidden;
   font-weight: 100;
   -webkit-font-smoothing: antialiased;
   -webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar {
   width: 0px;
}

/* Track
::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   -webkit-border-radius: 5px;
   border-radius: 5px;
}


::-webkit-scrollbar-thumb {
   -webkit-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
   background: rgba(53, 51, 51, 0.041);
} */
h1 {
   font-family: "IBM Plex Sans", sans-serif;

   font-size: 4rem;
   color: #000;
   /* width: 100%; */
   font-weight: 100;
   text-align: center;
   padding: 0%;
}
h2 {
   font-size: 3rem;
   font-family: "IBM Plex Sans", sans-serif;
}
p {
   /* font-family: "IBM Plex Sans", sans-serif; */
   font-family: "Roboto", sans-serif;
   color: #000;
   font-size: 2rem;
}
label {
   font-family: "IBM Plex Sans", sans-serif;
}

.page {
   position: absolute;
   left: 15px;
   right: 15px;
}

.page-enter {
   opacity: 0;
   transform: scale(1.1);
}

.page-enter-active {
   opacity: 1;
   transform: scale(1);
   transition: opacity 300ms, transform 300ms;
}

.page-exit {
   opacity: 1;
   transform: scale(1);
}

.page-exit-active {
   opacity: 0;

   transform: scale(0.9);
   transition: opacity 300ms, transform 300ms;
   display: none;
}
.App {
   background: whitesmoke;
}
